@charset "utf-8";
/*rem 단위 10px 지정 */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/* 접근성 관련 코드 */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
/* header */
header {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 12rem;
  background-color: transparent;
  /*  background-color: rgba(90, 135, 197);
  box-shadow: #31517e 0px 1px 4px 2px; */
  box-sizing: border-box;
}
.header_wrap {
  width: 66.66%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  height: 12rem;
  align-items: center;
}
.gnb {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  display: flex;
}
.gnb > li {
  font-family: "Pretendard-Regular";
  position: relative;
  padding: 3rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: rgb(49, 49, 49);
}
.gnb > li:last-child {
  padding-right: 0rem;
  color: rgba(90, 135, 197);
}

/* mv_1 */
.mv_wrap {
  top: 0;
  position: relative;
}
.mv_wrap > div {
  height: 100vh;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  position: absolute;
  top: calc(50vh);
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
/***************************MV2  *****************************/
.mv_2_wrap {
  display: flex;
  width: 66.66%;
  margin: 0 auto;
  padding: calc(50vh - 15rem) 0;
  justify-content: space-between;
}
.mv_2_wrap > div {
  width: 50rem;
  height: 30rem;
  border: black 2px solid;
}
